.carot-img {
    position: fixed;
    z-index: 3;
    bottom: 181px;
    right: 120px;
    width: 90px;
    transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.carot-onboat1 {
    bottom: 209px;
    right: 560px;
    width: 70px;
}

.carot-onboat2 {
    bottom: 190px;
    right: 645px;
    width: 70px;
}
